header nav a,
header button {
    color: var(--primary-text-color);
}

header {
    background-color: #ffffffd5;
    color: var(--primary-text-color);
    box-shadow: 0px 2px 12px 4px #26a69a10;
    backdrop-filter: blur(3px);
}

header.sticky span.menu {
    color: var(--orange);
}

header span.menu:hover {
    color: var(--primary-text-color)
}

div .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

section.nos_equipe {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-top: 6rem;
}

.equipe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 90%;
}

.equipe .text {
    max-width: 45%;
}

.text h1 {
    color: var(--secondary-text-color) !important;
    margin-bottom: .4em;
}

.text p {
    padding: .4em 0;
}

.equipe .image {
    position: relative;
    width: 320px;
    aspect-ratio: 1/1;
    border-radius: 12px;
    overflow: hidden;
}

#prevBtn {
    position: absolute;
    left: 1em;
}

#nextBtn {
    position: absolute;
    right: 1em;
}

.valeurs {
    margin-top: 2em;
    padding: 2em 8em;
}


.valeurs .grand_titre {
    text-align: center;
    position: relative;
}

.valeur {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-top: 4em;
}

.text_valeur {
    margin-top: 1em;
    margin-left: 1em;
}

.text_valeur h3 {
    margin: 1em 0;
    color: var(--orange);
    font-size: 1.4em;
}


.text_valeur p {
    max-width: 60%;
    line-height: 1.5em;
    margin-bottom: 3em;
}

.text_valeur a {
    background-color: var(--secondary-text-color);
    padding: .8em 1em;
    border-radius: 12px;
    color: #ffffff;
    font-weight: bold;
}

.img_valeur {
    position: relative;
    margin-top: 2em;
    margin-left: 4em;
}

.valeurs .image {
    overflow: hidden;
}

.img1 {
    border: 2px solid var(--accent-color);
    border-radius: 16px;
    width: 180px;
    height: 200px;
    position: absolute;
    left: 32px;
    top: -48px;
}

.img2 {
    border: 2px solid var(--accent-color);
    border-radius: 16px;
    position: absolute;
    width: 120px;
    height: 150px;
    top: 24px;
    left: 256px;
}



.img3 {
    border: 2px solid var(--accent-color);
    border-radius: 16px;
    width: 180px;
    height: 200px;
    position: absolute;
    bottom: -18px;
    left: -64px;
}

.img4 {
    border: 2px solid var(--accent-color);
    border-radius: 16px;
    width: 80px;
    height: 130px;
    position: absolute;
    top: 192px;
    left: 160px;
}


.img5 {
    border: 2px solid var(--accent-color);
    border-radius: 16px;
    position: absolute;
    width: 150px;
    height: 100px;
    bottom: -4px;
    right: 64px;
}

.grand_titre {
    font-size: 1.8em;
}

@media screen and (max-width: 1012px) {
    .valeurs {
        padding-left: 4em;
    }

    .text_valeur p {
        max-width: 100%;
    }

    .img5 {
        display: none;
    }
}

@media screen and (max-width: 756px) {
    h1 {
        font-size: max(6vw, 1.2rem);
    }

    P {
        font-size: max(3vw, 0.75rem);
    }

    .equipe {
        flex-direction: column;
        width: 100%;
    }

    .equipe .text {
        max-width: 100%;
        margin: 2em;
    }

    section.nos_equipe {
        margin-bottom: 3rem;
        height: max-content;
    }

    .equipe .text {
        width: 80%;
    }

    .equipe .image {
        width: 80%;
    }

    .valeurs {
        margin: 0;
        padding: 0 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .valeur {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 1em;
    }

    .img_valeur {
        display: none;
    }

    .text_valeur {
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 0 1em;
    }

    .text_valeur h3 {
        margin-top: 0;
    }

    .text_valeur p {
        margin: 0;
        margin-bottom: 2em;
        text-align: justify;
    }

    .text_valeur a {
        padding: .8em 3em;
    }

    section.nos_equipe {
        margin-bottom: 3rem;
        height: max-content;
    }

    .equipe {
        gap: 0;
    }

    .equipe .text {
        width: 80%;
    }

    .equipe .image {
        width: 80%;
    }
}